{% extends "header.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('submit') }}">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="bday">Birthday:</label>
        <input type="date" name="bday" id="bday" required>

        <label for="image_url">Image URL (Optional):</label>
        <input type="text" name="image_url" id="image_url">

        <label for="chatid">Chat ID (Optional):</label>
        <input type="text" name="chatid" id="chatid">

        <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
{% endblock %}
